.wp-block-media-text {
  .has-media-on-the-right{

    .wp-block-media-text__content{
      order:-1;
      @include md-block{
        padding-top: 0;
        padding-bottom: 0;
        padding-right: calc(var(--bs-gutter-x) * .5)!important;
        padding-left: calc(var(--bs-gutter-x) * .5)!important;
      }
    }
  }

  .wp-block-media-text__content{
    @include md-block{
      padding-top: 0!important;
      padding-bottom: 0!important;
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5)!important;
    }
  }
}
.entry-content p{
  margin-bottom: 1rem;
}
.wp-block-image{
  margin-bottom: 0;
}
.wp-block-column:nth-child(2n){
  @include lg-block{
    flex-grow: 0!important;
    flex-shrink: 1!important;
    flex-basis: auto!important;
  }
}

.wp-block-column:not(:first-child){
  @include lg-block{
    flex-grow: 0!important;
    flex-shrink: 1!important;
    flex-basis: auto!important;
  }
}

.wp-block-columns, .wp-block-column{
 @include xl-block{
   margin-top: 0!important;
   margin-bottom: 1em;
   margin-right: 0 !important;
   margin-left: 0 !important;
 }
}
