.swiper-container{
  padding-bottom: 48px;

  @include sm-block{
    padding-bottom: 37px;
  }

  .swiper-slide{
    min-height: 70px;
  }
}

.axslider-button{
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;

  @include md_block{
    display: none;
  }

  > div{
    background: #222831;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include trans();

    &:hover{
      background: #393E46;
      cursor: pointer;
    }
  }
  &--prev{

  }
  &--next{

  }
}

.swiper-pagination{
  position: absolute !important;
  display: inline-block;
  width: auto!important;
  left: auto!important;
  right: 0;
  bottom: 0;
  background: transparent!important;
  line-height: normal;
  height: auto!important;

  @include md_block{
    width: 100%;
    display: flex!important;
    left: 0 !important;

  }
  > * {
    @include md_block{
      flex-grow: 1;
      width: 100%;
    }
  }

  .swiper-pagination-bullet{
    margin: 0 !important;
    width: 56px;
    height: 2px;
    border-radius: 0;
    background: $light-black;
    @include trans(background);
    transform: translateY(-1px);
    &-active{
      transform: translateY(0px);
      height: 4px;

      @include md_block{
        transform: translateY(-2px);
      }
    }
  }
}

.front-page{
  .ceilings.portfolio-slider{
    margin-top: 35px;

    @include sm-block{
      margin-top: 26px;
    }
  }
}

//
.portfolio-slider{
  h4{
    font-weight: 500;
  }
  .swiper-slide{
    position: relative;
    &-auto{
      width: 70%;
    }

    img{
      width: 100%;
    }
  }
  .slide-content{
    color: #fff;
    padding: 24px;
    background: rgba(34, 40, 49, 0.6);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //align-items: center;
    min-width: 250px;
    min-height: 300px;
    position: absolute;
    bottom: 0;
    right: 20%;

    *{
      color: #fff;
    }

    &--header{
      a{
        font-size: 14px;
        color: #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
      }
    }

    &--text{
      font-size: 18px;
    }
  }

  // Слайдер портфолио
  &.portfolio{
    h4{
      a{
        @include sm-block{
          display: none;
        }
      }
    }
    .slide-content{
      width: 80%;
      min-height: 110px;
      height: auto;
      right: 0;

      @include sm-block{
        width: 100%;
        padding: 16px;
        min-height: 106px;
      }

      .d-flex{
        @include sm-block{
          justify-content: center;
        }
      }

      &--text{
        @include sm-block{
          display: none;
        }
      }

      &--button{
        @include sm-block{
          margin-left: auto;
          margin-right: auto;
        }
        > .button{
          height: 44px;
        }
      }
    }

    .slide-content--sale{

    }
  }
}

//
.ceilings{
  .slide-content{
    @include md-block{
      right: 0;
      min-height: 170px;
    }

    @include sm-block{
      max-width: 180px;
      min-width: 180px;
    }

    &--header{
      font-size: 20px;
      @include sm-block{
        font-size: 14px;
      }
    }

    &--sale{
      @include sm-block{
        font-size: 16px;
      }
    }
  }

}

.portfolio{
  .slide-content{
    @include md-block{
      width: 100%;
    }

    &--text{
      @include md-block{
        width: 100%;
      }
    }
  }
}

//
.sliders{
  .swiper-slide {
    @include sm-block{
      width: 200px;
    }
  }

  .slider-edit{
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    border: 1px solid #0D6EFD;
    //border-radius: 3px;
    width: 40px;
    height: 40px;
    box-shadow: -2px -2px 4px rgba(0,0,0,.3);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

    svg{
      height: 20px;
      width: 20px;
    }
  }

}

// Типы слайдеров
.type_side_by_side{
  .wiper-container{
    padding-bottom: 0;
  }
  .swiper-slide{
    background: #EEEEEE;
  }
  .wp-block-media-text{
    margin-bottom: 0;
    justify-content: center;

    @include lg-block{
      > div{
        width: 100%;
      }
    }

    &__content{
      padding-right: 87px;
      align-items: flex-start;
      width: 46%;
      @include lg-block{
        border: none;
        &:after{
          display: none;
        }
        &:before{
          display: none;
        }
      }
    }
    &__media{
      text-align: right;
      padding-left: 87px;
      position: relative;
      @include lg-block{
        padding-left: 0;
        order: -1!important;
      }

      &:after{
        content: '';
        display: block;
        position: absolute;
        top: 34px;
        left: 0px;
        //left: 0;
        border: 4px solid #393E46;
        border-right: 0;
        height: calc(100% - 68px);
        width: 70%;
        z-index: -1;

        @include lg-block{
          display: none;
        }
      }
      img{
        width: auto;
        max-width: 100%;
        background: #393E46;
      }
    }
  }

  // slider
  .swiper-container{
    padding-bottom: 0;
  }
  //.axslider-button{
  .axslider-button{
    top: 50%;
    left: 0;
    right: 0;
    bottom: auto;
    transform: translateY(-50%);
    justify-content: space-between;
    z-index: 100;
    padding-left: 19px;
    padding-right: 19px;

    &--alt{
      > div{
        background: #DADADB;

        @include lg-block{
          width: 30px;
          height: 30px;
          opacity: .8;
        }
      }
    }
  }

}


.video-slider{
  .swiper-slide{
    position: relative;
    width: 500px;
  }

  .media-header{
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;

    @include sm-block{
      font-size: 16px;
      padding-bottom: 0;
    }
  }

  .no-swiper-slide{
    margin-bottom: 20px;
  }
}

.portfolio-slider-mobile{
  .swiper-slide{
    @include sm-block(){
      width: 280px;
      min-height: 280px;
    }
  }
}

//
.portfolio-item--image{
  @include sm-block{
    min-height: 280px;
    margin-top: 0;

    > .thumbnail-img{
      min-height: 280px;
      background: #DCDCDC;
      img{
        display: none;
      }
    }
  }
}


/* Слайдер отключен */